
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite  name="MultipleSuite" thread-count="7">
		<listeners>
		<listener class-name="test.Listeners"></listener>
	</listeners>
	
 <test thread-count="7" name="Test">
    <classes>
		<!--<class name="test.AOS.AOSBulkUpload"/>
		<class name="test.AOS.AOSBulkUploadDelete"></class>
        <class name="test.AOS.AOSBulkUploadModify"></class>
        <class name="test.AOS.AOSDeleteFunction"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoExistingQualifierText"/>
        <class name="test.AOS.AOSAddNew"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoCreateNew"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoCreateNewQualifierText"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoExisting"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoCreateNewProcessName"/>
        <class name="test.AOS.AOSModifyFunction"/>
        <class name="test.AOS.AOSUnknownApplicationAddingtoExistingProcessName"/>-->
		<class name="test.UserDomain.UserDomainAddFunction"/>
		<class name="test.UserDomain.UserDomainModify"/>
		<class name="test.UserDomain.UserDomainDeleteFunction"/>
		<class name="test.UserDomain.UserDomainSortingFuncton"/>
		<class name="test.UserDomain.UserDomainExcelValidation"/>
		<class name="test.UserDomain.UserDomainPDFValidation"/>
      	<class name="test.DataAggregation.DataAggregationForModificationOnSettingsTab"/>
     	<class name="test.DataAggregation.DataAggregationForModificationOnSettingsTabForClearButton"/>
		<class name="test.WorkProfile.WorkProfileForAddingNew"/> 
		<class name="test.WorkProfile.WorkProfileForModification"/> 
		<class name="test.WorkProfile.WorkProfilesDeleteWithDependency"/>  
		<class name="test.WorkProfile.WorkProfilesExcelValidation"/> 
		<class name="test.WorkProfile.WorkProfilesForClone"/> 
		<class name="test.WorkProfile.WorkProfileValidateWithTeams"/>
		<class name="test.DataAggregation.DataAggregation"/>
		<class name="test.DataAggregation.DataAggregationForAllType"/>
		<class name="test.WorkProfile.WorkProfileForDelete"/>
    </classes>
  </test> 
</suite> 
<!-- <suite-files>
    <suite-file path="AOStestng.xml"></suite-file>
</suite-files>
</suite>-->

